<% provide(:title, "Resources") %>

<main>
<hgroup>
  <h1>Resources</h1>
  <h2 class="text-gray-700">A bunch of links to cool articles and posts</h2>
</hgroup>

<section>
  <h3>Interesting articles</h3>
  <article>
    <a href="https://www.usability.gov/get-involved/blog/2006/04/left-navigation-is-best.html">Navigation: Left is Best,</a>
    <cite>by Bob Bailey</cite>
  </article>

  <article>
    <a href="https://brutalist-web.design/">Guidelines for
      Brutalist Web Design</a> <cite>by David Bryant Copeland</cite>
  </article>

  <article>
    <a href="https://tailwindcss.com"> Tailwind CSS Framework</a>
    <cite>Adam Wathan, Steve Schoger and the Tailwind team</cite>
  </article>

  <article>
    <a href="https://martinfowler.com/">A website on building software effectively</a>
    <cite>by  Martin Fowler</cite>
  </article>

  <article>
    <a href="https://en.wikipedia.org/wiki/User_interface_design"> User Interface Design </a>
    <cite> Wikipedia </cite>
  </article>

</section>


</main>