<% provide(:title, "Resume") %>

<main class="mt-16 pb-8 pt-8 mx-auto px-6 text-center max-w-4xl
bg-primary rounded border border-primary p-6 mx-3 shadow">

  <h1>Ulysse Brisson</h1>
  <h2 class="text-gray-700 text-xl ">A soon-to-be engineer</h2>
  <div class="mt-12 flex flex-row-reverse flex-wrap justify-between text-left">
    <div class="w-4/6 p-6 ">
      <section class="mb-12">
        <h3 class="text-xl leading-tight">Education</h3>
        <article class="my-6">
          <h4 class="text-lg">Master’s Degree in Multi-Disciplinary Engineering</h4>
          <p>Ecole Centrale de Lille // 2017 - October 2020
          </p>
          <p>
            Some kind of top 15 engineering school.
          </p>
        </article>

        <article class="my-6">
          <h4 class="text-lg">Preparatory Classes</h4>
          <p> Poitiers // 2015 - 2017
          </p>
          <p>
            Major in Mathematics and Physics
            2-year advanced undergraduate studies in Mathematics and Physics preparing for the nationwide
            competitive
            examinations to enter the top engineering school of France.
          </p>
        </article>
      </section>
      <section class="mb-12">
        <h3 class="text-xl leading-tight">Work Experience</h3>
        <article class="my-6">
          <h4 class="text-lg">Java Developer - Internship in Operational Research</h4>
          <p> INRIA - INOCS Team // July - August 2019
            Lille, France
          </p>
          <ul>
            <li>Designed and implemented optimization solutions to improve routing in a complex real world
              problem.
            </li>
            <li>Resulted in an average decrease of 10% of the costs.</li>
            <li>Provided exhaustive documentation of both the mathematical approach and the Java implementation.
            </li>
            <li>Implemented extensive unit testing and integration testing.</li>
          </ul>
        </article>

        <article class="my-6">
          <h4 class="text-lg">International Internship in Customer Service</h4>
          <p> OPA Village // July - August 2018
            Chiba Prefecture, Japan
          </p>
          <ul>
            <li>Joined a non-English speaking team in a unique environnement.</li>
            <li>Handled customer service for an upscale clientele.</li>
          </ul>
        </article>

        <article class="my-6">
          <h4 class="text-lg">Engineering Internship in Supply Chain Management</h4>
          <p> Revivre IDF // January - February 2018
            Morangis, France</p>

          <ul>
            <li>Developed Excel tools to ease and improve stock management, with an emphasis on perishable
              goods.
            </li>
            <li>Provided exhaustive documentation and first use support.</li>
          </ul>
        </article>
      </section>

<!--      <section class="mb-12">-->
<!--        <h3 class=text-xl leading-tight>Trivia</h3>-->
<!--        <article class=my-6"">-->
<!--          <h4 class="text-lg">Values</h4>-->
<!--          <ul>-->
<!--            <li>Elegance</li>-->
<!--          </ul>-->
<!--        </article>-->


<!--      </section>-->
    </div>

    <aside class="w-2/6 p-6 text-sm border-r border-gray-400">
      <section class="mb-12">
        <h3 class="text-lg leading-tight">Skills</h3>

        <article class="my-6">
          <h4 class="text-base">Programming Languages</h4>
          <ul>
            <li>Python</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>SQL</li>
          </ul>

          <details class="mt-4">
            <summary> Other Known Languages</summary>
            <ul>
              <li>HTML 5</li>
              <li>CSS 3</li>
              <li>Ruby (on Rails framework)</li>
              <li>PL/SQL</li>
              <li>OCL</li>
              <li>PHP</li>
              <li>Kotlin</li>
              <li>OCaml</li>
              <li>Shell</li>
              <li>C</li>
              <li>LaTex</li>
              <li>PowerPoint</li>
            </ul>
          </details>

        </article>

        <article class="my-6">
          <h4 class="text-base">Knowledge</h4>
          <ul>
            <li>Versionning : Git - Github - Gitlab</li>
            <li>Methods : Agile (Scrum & Kanban) - TDD</li>
            <li>Web Development</li>
            <li>Android Application Development</li>
            <li>Operations Research</li>
            <li>Database Management : Oracle</li>
          </ul>
        </article>

        <article class="my-6">
          <h4 class="text-base">Tools</h4>
          <ul>
            <li>IntelliJ IDEs</li>
            <li>VSCode</li>
            <li>Microsoft Office</li>
            <li>Adobe Suite</li>
            <li>Mozilla Firefox</li>
            <li>IBM ILOG Cplex</li>
          </ul>
        </article>

        <article class="my-6">
          <details>
            <summary>Enterprise Architecture</summary>

            <ul>
              <li>UML</li>
              <li>BPMN 2</li>
              <li>TOGAF</li>
              <li>Archi</li>
              <li>Camunda</li>
              <li>Bonita</li>
              <li>SysML</li>
              <li>Model Transformation</li>
              <li>VOLERE</li>
              <li>CMMI's</li>
            </ul>
          </details>
        </article>

        <article class="my-6">
          <details>
            <summary>Business Knowledge</summary>
            <ul>
              <li>Business Model Canvas</li>
              <li>Design Thinking</li>
              <li>BMM</li>
              <li>RACI</li>
              <li>SWOT</li>
              <li>V Cycle</li>
              <li>Agile Methodologies</li>
              <li>Lean Methodologies</li>
              <li>Six Sigma</li>
              <li>PDCA - Demming - Kaizen</li>
              <li>Cloud</li>
              <li>Data centric</li>
              <li>Data governance</li>
              <li>Marketing Strategy</li>
              <li>Strategic Management</li>
              <li>Supply Chain Management</li>
              <li>KPI's</li>
              <li>Business Strategy</li>
              <li>Project Management</li>
            </ul>
          </details>
        </article>

        <article class="my-6">
          <h4 class="text-base">Languages</h4>
          <ul>
            <li>French : Mothertongue</li>
            <li>English : Proficient - 990 TOEIC</li>
            <li>Japanese : Basics</li>
            <li>German : Old basics</li>
            <li>Esperanto : tried for a month</li>
          </ul>
        </article>

        <article class="my-6">
          <details>
            <summary>Miscellaneous</summary>
            <ul>
              <li>Aikido : 4 years</li>
              <li>Steganography : At some point</li>
              <li>Piano : 5 years</li>
              <li>Clarinet : 2 years</li>
              <li>Sports : many for a short time</li>
            </ul>
          </details>
        </article>

        <article class="my-6">
          <h4 class="text-base">Current interests</h4>
          <ul>
            <li>User Interface and Experience</li>
            <li>Elegance</li>
            <li>Cinema podcasts</li>
            <li>the Future</li>
            <li>Development</li>
            <li>Society</li>
            <li>Self-Improvement</li>
          </ul>
        </article>

      </section>
    </aside>
  </div>
</main>
