<li id="<%= post.id %>" class="list-none">
  <article>
    <h4><%= post.title %></h4>
    <p><%= post.body %></p>
    <span class="timestamp">
      Posted on <%= post.created_at %>.
    </span>
  </article>
</li>