<li id="<%= post.id %>" class="list-none">
  <article>
    <h4><%= post.title %></h4>
    <p><%= post.body %></p>
    <span class="timestamp text-right text-sm">
      Posted on <%= time_tag(post.created_at) %>.
    </span>
  </article>
</li>