<aside class="flex-shrink w-auto lg:max-w-sm px-4 lg:mx-auto text-left xl:w-full lg:mx-4 lg:mt-32">
  <h1 class="w-full text-sm font-bold tracking-wide uppercase border-b border-gray-400 py-2
 ">Browse by tag </h1>
  <ul class="px-4 mx-auto mt-4" style="columns:8rem auto">
    <% tags.each do |tag| %>
      <li class="list-none">
        <%= link_to "#{tag.to_s.capitalize}", "/#{controller_name}?tag=#{tag}",
                    title: "All #{tag.to_s.capitalize} #{controller_name}",
                    class: "text-base mt-1" %>
      </li>
    <% end %>
  </ul>
</aside>