<% unless content.tags.nil? %>
  <span class="text-sm mr-1 mt-auto leading-none">tags: </span>
  <ul class="inline mr-auto mt-auto leading-none">
    <% content.tags.each do |tag| %>
      <li class="list-none inline ">
        <%= link_to "#{tag.to_s.capitalize}", "/#{content.model_name.plural}?tag=#{tag}",
                    title: "All #{tag.to_s.capitalize} #{content.model_name.plural}",
                    class: "text-sm mt-1" %>,
      </li>
    <% end %>
  </ul>
<% end %>