<% unless content.tag_list.blank? %>
  <ul class="mr-auto mt-auto leading-none">
    <span class="text-sm inline">tags: </span>
    <% content.tag_list.each do |tag| %>
      <li class="list-none inline ">
        <%= link_to "#{tag.to_s.capitalize}", "/#{controller_name}?tag=#{tag}",
                    title: "All #{tag.to_s.capitalize} #{controller_name}",
                    class: "text-sm text-blue-600 mt-1" %>,
      </li>
    <% end %>
  </ul>
<% end %>