<% provide(:title, "Masterlist") %>
<% provide(:button_text, 'Create') %>


<main class="main-content">
  <h1>Things I Know About</h1>

  <%= render 'shared/new_content' %>

  <div class="flex justify-between">
    <h2 class="mt-auto">Masterlist</h2>

    <input type="button" value="Switch Folding" id="FoldBtn"
           class="bg-primary rounded border border-primary px-2 py-1
         hover:border-secondary hover:bg-secondary">
    <script data-turbolinks-eval="false">
        let folded = true;
        document.getElementById("FoldBtn").onclick = function () {
            let details = document.getElementsByClassName("tika_details");
            for (let i = 0; i < details.length; i++) {
                details[i].open = folded;
            }
            folded = !folded;
        }
    </script>

  </div>

  <ul class="tikas relative">
    <%= render @tikas %>
  </ul>

</main>