<% provide(:title, "Masterlist") %>
<% provide(:button_text, 'Create') %>
<% content_for :script do %>
  <%= javascript_pack_tag 'tikas', defer: true, 'data-turbolinks-track': 'reload'  %>
<% end %>


<main class="main-content">
  <h1>Things I Know About</h1>

  <%= render 'shared/new_content' %>

  <div class="flex justify-between">
    <h2 class="mt-auto">Masterlist</h2>

    <input type="button" value="Switch Folding" id="FoldBtn"
           class="bg-primary rounded border border-primary px-2 py-1
         hover:border-secondary hover:bg-secondary">

  </div>

  <ul class="tikas relative">
    <%= render @tikas %>
  </ul>

</main>