/* purgecss start ignore */
.theme-light{
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #EBF4FF;
    --color-bg-tertiary: #EDF2F7;
    --color-bg-default: #F7FAFC;
    --color-bg-inverse: #1A202C;

    --color-text-primary: #2C5282;
    --color-text-secondary: #2B6CB0;
    --color-text-default: #2D3748;
    --color-text-default-soft: #718096;
    --color-text-inverse: #F7FAFC;
    --color-text-inverse-soft: #E2E8F0;

    --color-border-primary: #CBD5E0;
    --color-border-secondary: #63B3ED;

}

.theme-dark {
    --color-bg-primary: #4A5568;
    --color-bg-secondary: #1A202C;
    --color-bg-tertiary: #718096;
    --color-bg-default: #2D3748;
    --color-bg-inverse: #1A202C;

    --color-text-primary: #BEE3F8;
    --color-text-secondary: #63B3ED;
    --color-text-default: #EDF2F7;
    --color-text-default-soft: #CBD5E0;
    --color-text-inverse: #F7FAFC;
    --color-text-inverse-soft: #E2E8F0;

    --color-border-primary: #2D3748;
    --color-border-secondary: #2D3748;
}

@import "tailwindcss/base";

main {
    @apply max-w-4xl;
    min-height: 95vh;
}

input:focus {
    @apply outline-none shadow-outline;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-primary;
}

h1 {
    @apply text-4xl;
}

a {
    @apply text-secondary underline inline-block;
}

@import "tailwindcss/components";

.main-content {
    @apply mt-16 pb-8 w-full max-w-2xl mx-auto;
    @apply px-4 text-left;
}

.main-button {
    @apply text-primary text-sm uppercase font-bold;
    @apply py-2 px-4;
    @apply bg-primary rounded;
    @apply border border-primary;
}

.main-button:hover {
    @apply bg-secondary border-secondary;
}

.form-input {
    @apply bg-secondary border border-primary;
    @apply shadow-inner py-1 px-2 rounded mb-4;
}

.form-input:hover {
    @apply border-secondary;
}

.pagination {
    @apply my-4 bg-primary rounded border border-primary;
    @apply flex mx-auto;
    width: max-content;
}

.next_page, .current, .pagination > a:not(:first-child) {
    @apply relative block py-2 px-3 leading-none no-underline;
    @apply bg-primary text-default-soft text-lg;
    @apply border-l border-primary;
}

.pagination > a:hover {
    @apply bg-secondary text-primary;
}

.previous_page {
    @apply relative block py-2 px-3 leading-none no-underline;
    @apply bg-primary text-default-soft text-lg;
    @apply rounded-l border-0;
}

.next_page {
    @apply rounded-r;
}

.current {
    @apply text-primary bg-tertiary not-italic shadow-inner;
}

.disabled {
    @apply bg-tertiary opacity-50;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-text-inverse);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tika_summary::before {
    @apply border-2 border-blue-900 border-t-0 border-r-0 w-3 absolute;
    content: '';
    left: -2px;
    top: -0.5rem;
    bottom: 60%;
}

ul > li:last-child > .tika_details {
    @apply border-transparent;
}

.snake-border {
    @apply relative duration-200;
}

.snake-border span {
    @apply bg-gray-100 absolute block;
}

.snake-border span:nth-child(1) {
    @apply top-0 left-0 h-1;
    animation: snake-border1 3s linear infinite;
}

.snake-border span:nth-child(2) {
    @apply top-0 right-0 w-1;
    animation: snake-border2 3s linear infinite;
    animation-delay: 1.5s;
}

.snake-border span:nth-child(3) {
    @apply bottom-0 right-0 h-1;
    animation: snake-border3 3s linear infinite;
    animation-delay: 0s;
}

.snake-border span:nth-child(4) {
    @apply bottom-0 left-0 w-1;
    animation: snake-border4 3s linear infinite;
    animation-delay: 1.5s;
}

@keyframes snake-border1 {
    0% {width:0;}
    50% {width:100%;}
    100% {width:0; left:auto; right:0;}
}

@keyframes snake-border2 {
    0% {height: 0;}
    50% {height: 100%;}
    100% {height:0; top:auto; bottom:0;}
}


@keyframes snake-border3 {
    0% {width:0;}
    50% {width:100%;}
    100% {width:0; left:0;}
}

@keyframes snake-border4 {
    0% {height:0;}
    50%{height: 100%;}
    100% {height:0; top:0;}
}

@import "tailwindcss/utilities";
/* purgecss end ignore */