/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */
@import "tailwindcss/utilities";

main {
    @apply max-w-4xl;
    min-height: 95vh;
}

.main-content {
    @apply mt-16 pb-8 w-full max-w-2xl mx-auto;
    @apply px-4 bg-transparent text-left shadow-none border-0;
}

input:focus {
    @apply outline-none shadow-outline;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-blue-900;
}

h1 {
    @apply text-4xl;
}

a {
    @apply text-blue-600 underline inline-block;
}

/* purgecss start ignore */
.pagination {
    @apply my-4 bg-white border border-gray-400 rounded;
    @apply flex mx-auto;
    width: max-content;
}

.next_page, .current, .pagination > a:not(:first-child) {
    @apply relative block py-2 px-3 leading-none no-underline;
    @apply bg-white text-gray-600 text-lg;
    @apply border-l border-gray-400;
}

.pagination > a:hover {
    @apply bg-gray-200 text-blue-900;
}

.previous_page {
    @apply relative block py-2 px-3 leading-none no-underline;
    @apply bg-white text-gray-600 text-lg;
    @apply rounded-l border-0;
}

.next_page {
    @apply rounded-r;
}

.current {
    @apply text-blue-900 bg-gray-200 not-italic shadow-inner;
}

.disabled {
    @apply bg-gray-200 opacity-50;
}
/* purgecss end ignore */

.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F7FAFC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}