@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

article {
    @apply max-w-xl w-full flex flex-col;
    @apply border-t-2 border-gray-300;
    @apply px-4 py-4;
    @apply mx-auto my-3;
    @apply text-left;
}

main {
    @apply min-h-3/4 mx-auto bg-gray-200 max-w-4xl border rounded-lg shadow-xl my-6 pb-8;
}

footer {
    @apply pb-2 px-2
}

hgroup {
    @apply w-full max-w-5xl py-6;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-semibold leading-loose text-blue-900;
}

section {
    @apply my-4
}

h1 {
    @apply text-4xl
}

h2 {
    @apply text-2xl font-medium
}

h3 {
    @apply text-2xl;
    font-family: fantasy;
}

h4 {
    @apply text-xl
}


a {
    @apply font-medium text-gray-900 underline inline-block;
}

li {
    @apply list-disc
}

ul {
    @apply px-4
}

blockquote {
    @apply bg-indigo-100 text-blue-900 rounded shadow-md text-center font-serif p-2 w-3/4 my-2 self-center
}

p {
    @apply text-lg font-medium m-2 max-w-lg;
    font-family: Arial, sans-serif;
}

.pagination {
    @apply flex rounded-lg my-4 mx-auto justify-center shadow;
    width: max-content;
}

.previous_page, .next_page, .current, .pagination > a {
    @apply relative block py-2 px-3 leading-tight ml-0 no-underline;
    @apply bg-white font-semibold text-gray-500 text-lg;
}

.pagination > a:hover {
    @apply bg-gray-300 text-blue-900;
}

.previous_page {
    @apply rounded-l-lg;
}

.next_page {
    @apply rounded-r-lg;
}

.current {
    @apply bg-gray-500 text-gray-100 font-bold not-italic;
}

.disabled {
    @apply bg-gray-200 text-gray-500;
}