<% provide(:title, "New post") %>
<% provide(:button_text, 'Edit') %>

<main>
  <h1>New Post</h1>
  <section class="max-w-2xl my-3 mx-auto bg-white border border-gray-400 shadow rounded-lg py-4">
    <%= render 'form' %>
  </section>
  <%= link_to 'Back', posts_path %>
</main>