<% provide(:title, @post.title) %>

<main class="mt-12 lg:mt-6 pb-8 w-full max-w-2xl mx-auto w-full px-4 bg-transparent text-left shadow-none border-0">
  <%= render @post %>

  <%= link_to 'Back', posts_path %>
</main>