<footer class="bottom-0 z-10 p-4 text-center bg-gray-800">
  <h3 class="my-0 font-semibold leading-loose text-gray-300">Contact Info</h3>

  <a class="my-0 font-semibold leading-loose text-gray-300"
     href="mailto:ulysse.brisson@gmail.com">
    ulysse.brisson@gmail.com
  </a>

  <a class="my-0 font-semibold leading-loose text-gray-300"
     href="https://github.com/ubrisson"
     target="_blank" rel="noreferrer">
    Github
  </a>

  <a class="my-0 font-semibold leading-loose text-gray-300"
     href="https://www.linkedin.com/in/ulysse-brisson/"
     target="_blank" rel="noreferrer">
    Linkedin
  </a>
</footer>