<footer class="bottom-0 text-center bg-gray-800 z-10 p-4 shadow-lg rounded-t-lg">
  <h3 class="text-gray-300 font-semibold my-0 leading-loose">Contact Info</h3>

  <a class="text-gray-300 font-semibold my-0 leading-loose"
     href="mailto:ulysse.brisson@gmail.com">
    ulysse.brisson@gmail.com
  </a>

  <a class="text-gray-300 font-semibold my-0 leading-loose"
     href="https://github.com/ubrisson">
    Github
  </a>

  <a class="text-gray-300 font-semibold my-0 leading-loose"
     href="https://www.linkedin.com/in/ulysse-brisson/">
    Linkedin
  </a>
</footer>