<header>
  <nav>
    <ul>
      <li class="list-none hover-underline-animation">
        <%= link_to "Home", root_path %>
      </li>
      <li class="list-none hover-underline-animation">
        <%= link_to "About", about_path %>
      </li>
      <li class="list-none hover-underline-animation">
        <%= link_to "Resources", resources_path %>
      </li>
    </ul>
  </nav>
</header>