<header>
  <nav>
    <ul>
      <li class="list-none hover-underline-animation">
        <%= link_to "Home", static_pages_home_path %>
      </li>
      <li class="list-none hover-underline-animation">
        <%= link_to "About", static_pages_about_path %>
      </li>
    </ul>
  </nav>
</header>